<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User info</title>
</head>
<body>
<h1>User, welcome to site!</h1>
<table th:border="1" th:cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <tr th:object="${user}">
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastname()}">lastname</td>
        <td th:utext="${user.getAge()}">age</td>
        <td th:utext="${user.getEmail()}">email</td>
    </tr>
</table>
<br>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>